{% extends 'baseFront.html.twig' %}

{% block body %}
<body>
<style>

.alert-success:hover {
    opacity: 0; /* Hide the alert on hover */
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fadeOut {
  animation: fadeOut 1s ease forwards;
}
</style>
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <div class="hero overlay" style="background-image: url('assets/images/background.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 mx-auto text-center">
            <h1 class="text-white">Produits</h1>
            <p>Vos produits sont disponibles ici</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container site-section">
      <div class="row">
        <div class="col-6 title-section">
          <h2 class="heading">Latest Products</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12"> 
          <div class="search-container">
            <input type="text" id="searchInput" class="search-input" placeholder="Search..."> 
          </div>
          <div id="searchResults"></div>
        </div>
      </div>

      <div class="row existing-products">
        {% for produit in pagination %}
        <div class="col-lg-4 mb-4">
            <div class="custom-media d-block">
                <div class="img mb-4">
                    {% if produit.getImageProd() %}
                        <a href="single.html">
                            <img src="{{ asset('assets/' ~ produit.getImageProd()) }}" alt="Image du produit" class="img-fluid">
                        </a>
                    {% else %}
                        No Image
                    {% endif %}
                </div>
                <div class="text">
                    <span class="meta">{{ produit.prix_prod }}</span>
                    <h3 class="mb-4"><a href="#">{{ produit.nomProd }}</a></h3>
                    <p style="color: #fff;">{{ produit.description_prod }}</p>
                    <p><a href="#" style="color: #008152;">{{ produit.getCategorie().getNomCategorie() }}</a></p>
                     <!-- Rating stars -->
<div class="rating-stars" data-product-id="{{ produit.id }}" data-update-url="{{ path('update_rating', {'productId': produit.id}) }}">
                        {% set averageRating = 0 %}
                        {% set totalRatings = produit.ratings|length %}
                        {% for rating in produit.ratings %}
                            {% set averageRating = averageRating + rating.rating %}
                        {% endfor %}
                        {% if totalRatings > 0 %}
                            {% set averageRating = averageRating / totalRatings %}
                        {% endif %}
                        {% for i in 1..5 %}
                            {% if averageRating >= i %}
                                <i class="star fas fa-star selected" data-rating="{{ i }}"></i>
                            {% else %}
                                <i class="star fas fa-star" data-rating="{{ i }}"></i>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p class="average-rating">Average Rating: <span>{{ averageRating }}</span></p>
                    <!-- Add to cart button -->
                   {% if user %}
    <a href="{{ path('ajouterPanier', {'idProduit': produit.id, 'userId': user.id}) }}" class="btn py-3 px-4 mr-3 btn-primary">
        Ajouter au panier
    </a>
{% else %}
    <!-- Handle the case where user is not authenticated -->
    <p>Connectez-vous pour ajouter au panier</p>
{% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
          <div class="custom-pagination justify-content-center">
            {{ knp_pagination_render(pagination) }}
          </div>
        </div>
      </div>
    </div>

  </div>

  {% for flash_message in app.session.flashbag.get('successPaiement') %}
  <div id="myAlert" class="alert alert-success alert-dismissible fade show" role="alert" style="position: fixed; top: 105px; left: 50%; transform: translateX(-50%); z-index: 9999; padding: 10px 20px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; color: #fff; background-color: #008152; border-color: #fff; transition: opacity 0.5s ease; cursor: pointer;">
    {{ flash_message }}
  </div>
  {% endfor %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Function to handle rating submission
    $('.rating-stars .star').on('click', function() {
        var productId = $(this).closest('.rating-stars').data('product-id');
        var updateUrl = $(this).closest('.rating-stars').data('update-url');
        var rating = parseFloat($(this).data('rating'));
        
        // Store a reference to the clicked star element
        var clickedStar = $(this);

        // Send AJAX request to submit rating
        $.ajax({
            url: "{{ path('submit_rating') }}",
            method: "POST",
            data: { productId: productId, rating: rating },
            success: function(response) {
                console.log('Rating submitted successfully:', response);

                // Update the displayed stars based on the submitted rating
                clickedStar.parent().find('.star').removeClass('selected');
                clickedStar.prevAll('.star').addBack().addClass('selected');
                
                // Fetch the updated average rating for the product
                $.ajax({
                    url: updateUrl,
                    method: "GET",
                    success: function(response) {
                        console.log('Average rating updated successfully:', response);
                        
                        // Update the displayed average rating
                        var averageRating = parseFloat(response.average_rating);
                        var averageRatingElement = clickedStar.closest('.rating-stars').siblings('.average-rating').find('span');
                        averageRatingElement.text(averageRating.toFixed(1)); // Format to one decimal place
                    },
                    error: function(xhr, status, error) {
                        console.error('Error updating average rating:', error);
                    }
                });
            },
            error: function(xhr, status, error) {
                console.error('Error submitting rating:', error);
            }
        });
    });
});



</script>

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $('#searchInput').on('input', function() {
    var query = $(this).val().trim();
    if (query.length > 0) {
      $.ajax({
        url: "{{ path('search_produit') }}",
        method: "POST",
        data: { query: query },
        success: function(response) {
          $('.existing-products').hide();
          $('#searchResults').html(response).show();
        }
      });
    } else {
      $('.existing-products').show();
      $('#searchResults').empty().hide();
    }
  });

       
});

setTimeout(function() {
  $('#myAlert').addClass('fadeOut');
}, 2000);
</script>

  <style>
    .search-container {
      position: relative;
    }

    .search-input {
      width: 100%;
      padding: 10px 15px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
      transition: border-color 0.4s ease;
      margin-bottom: 15px;
      background-color: transparent;
      color: white;
    }

    .search-input:focus {
      outline: none;
      border-color: #008152;
    }

    .custom-pagination {
      margin-top: 20px;
    }

    .custom-pagination ul.pagination {
      display: flex;
      justify-content: center;
      list-style: none;
    }

    .custom-pagination ul.pagination li {
      margin: 0 5px;
    }

    .custom-pagination ul.pagination li.active a {
      background-color: #008152;
      color: white;
      border-color: #008152;
    }

    .custom-pagination ul.pagination li a {
      padding: 5px 10px;
      text-decoration: none;
      color: #008152;
      border: 1px solid #008152;
      border-radius: 3px;
    }

    .custom-pagination ul.pagination li a:hover {
      background-color: #008152;
      color: white;
    }
  </style>

  <style>
    .rating-stars {
      display: flex;
      cursor: pointer;
    }

    .star {
      margin-right: 5px;
      font-size: 24px;
      transition: transform 0.2s ease-in-out;
    }

    .star.selected {
      color: gold; /* Change color for selected stars */
    }

    .star:hover {
      transform: scale(1.2); /* Increase the size on hover */
    }
  </style>

</body>
{% endblock %}
