{% extends 'baseFront.html.twig' %}

{% block body %}
<body>
  <div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <div class="hero overlay" style="background-image: url('assets/images/background.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 mx-auto text-center">
            <h1 class="text-white">Votre Panier</h1>
            <p>Votre Panier est disponible ici</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container site-section">
      <div class="row">
        <div class="col-12 title-section">
          <h2 class="heading">Détails du Panier</h2>
        </div>
      </div>
      <div class="row">
        {% set totalPanier = 0 %}
        {% for article in articles %}
            <div class="col-lg-6 mb-4">
                <div class="custom-media d-flex">
                    <div class="img mr-4">
                        <img src="{{ asset('assets/' ~ article.getProduit().getImageProd() ) }}" alt="Image du produit" class="img-fluid">
                    </div>
                    <div class="text">
                        <h3 class="mb-1">{{ article.getProduit().getNomProd() }}</h3>
                        <p class="meta">Prix: {{ article.getProduit().getPrixProd() }} TND</p>
                        <p class="meta">Quantité: 
<button class="btn btn-sm btn-primary" onclick="decrementQuantity('{{ article.getId() }}')">-</button>
                            <span id="quantity-{{ article.getId() }}">{{ article.getQuantitePanier() }}</span>
<button class="btn btn-sm btn-primary" onclick="incrementQuantity('{{ article.getId() }}')">+</button>
                        </p>
                        <a href="{{ path('supprimer_du_panier', {'id': article.getId()}) }}" class="btn py-3 px-4 mr-3 btn-primary">Supprimer du panier</a>
                    </div>
                </div>
            </div>
            {% set totalPanier = totalPanier + article.getProduit().getPrixProd() * article.getQuantitePanier() %}
        {% else %}
            <div class="col-lg-12 text-center">
                <p>Votre panier est vide.</p>
            </div>
        {% endfor %}

        <div class="col-12" style="background-color: transparent; border: 2px solid #008152; padding: 20px; color:white;">
            <h3 class="heading">Récapitulatif du Panier</h3>
            <ul class="container site-section" style="list-style-type: none; padding: 0;">
                <li class="d-flex justify-content-between" style="border-bottom: none; padding: 10px 0;">
                    <span>Total (TND)</span>
                    <strong id="total-price" style="color: #fff;">{{ totalPanier }} TND</strong>
                </li>
            </ul>
        </div>
        <a id="sending" href="{{ path('app_stripe') }}">
            <button type="button" class="btn btn-primary btn-round btn-block" style="margin-top: 12px; margin-left:40%; font-weight:bold;">Commander</button>
        </a>
      </div>
    </div>

    <footer class="footer-section">
      <!-- Footer content -->
    </footer>
  </div>

<script>
    function incrementQuantity(articleId) {
        fetch(`/increment_quantity/${articleId}`, {
            method: 'POST'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            // Reload the page after successful incrementation
            location.reload();
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
    }

    function decrementQuantity(articleId) {
        fetch(`/decrement_quantity/${articleId}`, {
            method: 'POST'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            // Reload the page after successful decrementation
            location.reload();
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
    }
</script>

</body>
{% endblock %}
