{% extends 'base.html.twig' %}

{% block title %}ADMIN DASHBOARD
{% endblock %}

{% block body %}
     <div class="content-body">

            <div class="container-fluid mt-3">
                <div class="row">
	<center>
		<h1 style="margin-top:50px">ADMIN DASHBOARD</h1>
	</center>
	<div class="navbar-nav w-100">
		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
			</div>
		{% endif %}
	</div>




	<table class="table" id="t">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Image</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody id="all">
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>
						<img width="100" height="100" src="{{ asset('uploads/images/') }}{{ user.image }}">
					</td>
					<td>
                        <a href="{{ path('report_user', {'id': user.id}) }}" class="btn btn-warning">Signaler</a>
                        <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-warning">Show</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
		<tbody id="search"></tbody>
	</table>
            </div>
                        </div>
                    </div>

	
{% endblock %}
